html, body {
    color: white;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

span {
    position: relative;
    font-family: monospace;
    width: 100%;
    height: 100%;
}
