html, body {
    color: white;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

span {
    position: relative;
    font-family: monospace;
    display: flex;
    text-align: center; 
    justify-content: center;
    align-items: center;
}
