html, body {
    color: white;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}


span {
    position: relative;
    font-family: monospace;
    height: 100%;
    width: 100%;
    top: 50%;
}
